.no_data_found{
	text-align:center;
	margin:20px 0px;
	width:100%;
	font-family: OpenSans-Regular;
	font-size: 16px;
	line-height:25px;
	color:#D67D21;
}
#paging_menu {
	float: left;
	/*width: 500px;*/
	margin-top: 15px;
	/*margin-left: 20px;*/
	border-left:solid 1px #5D5D5D;
	width: 100%;
}
.pagination ul{
	margin: 0;
	padding: 0;
	text-align: left; 
	font-size: 16px;
}
.pagination li{
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
	color:#5A5A5A;
	text-align:center;
	width:25px;
	height:20px;
	opacity:0.8;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #5D5D5D;
	border-right-color: #5D5D5D;
	border-bottom-color: #5D5D5D;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	background-image: url(../../img/front/bullet-bg.jpg);
	background-repeat: repeat-x;
	text-decoration:none;
}
.pagination a:hover, .pagination a:active{
	color:#000000;
	background-image: url(../../img/front/bullet-bg-over.jpg);
	background-repeat: repeat-x;
}
.pagination a.currentpage{
	color:#000000;
	border: 1px solid #5D5D5D;
	background-image: url(../../img/front/bullet-bg-over.jpg);
	background-repeat: repeat-x;
}
.pagination .current{
	color:#fff;
	text-align:center;
	width:25px;
	height:19px;
	opacity:0.8;
	float: left;
	border: 1px solid #5D5D5D;
	border-left:none;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 19px;
	font-weight: bold;
	text-decoration:none;
	background:#5D5D5D;
}
.pagination a.disablelink, .pagination a.disablelink:hover{
	cursor: default;
	color: #929292;
	border-color: #929292;
	font-weight: normal !important;
}
.pagination a.next{
	font-weight: bold;
	float:left;
	width:35px;
	height:19px;
	margin:0px;
	padding:0px;
	border:none;
	background-image:url(../../img/front/next.png);
	display:none;
}
.pagination a.prev{
	font-weight: bold;
	float:left;
	width:35px;
	height:19px;
	margin:0px;
	padding:0px;
	background-image:url(../../img/front/prev.png);
	border:none;
	display:none;
}
#wowslider-container1 .ws_bullets{
	float: right;	
	right: 0;
}
#wowslider-container1 .ws_bullets div{
	right: 0px;
}
.top_img img{
	max-width:79px;
	max-height:55px;	
	position: absolute;
	/*top: 0;
	bottom: 0;*/
	right: 0;
	left:0;
	display: block;
	margin: auto;
}
.top_img{
	position: relative;
	width: 79px;
	/*height: 79px;*/
	height: 55px;
	overflow: hidden;
}
.top_wrie a{
	color: #000000;
	text-decoration: none;
}
.top_wrie a:hover{
	color:#404041;
	/*text-decoration: underline;*/
}  
.top_img_article{
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	float: left;	
}
.top_img_article img{
	/*max-width:75px;
	max-height:75px;	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left;
	display: block;
	margin: auto;*/	
}
#Developer{
	display:none;
	float: left;
	height: 30px;
	width: 100%;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;		
	background-color: #CECECE;
	color: #FFFFFF;
}
#Developer a{
	color: #FFFFFF;
	text-decoration: none;
}
#Developer a:hover{
	color: #404041;
}
.ri_3 a{
	color: #6A6A6A;
	text-decoration: none;
}
.ri_3 a:hover{
	color: #000000;
}
.no-data-found{
	float: left;
	text-align: center;
	width: 100%;
	font-family:OpenSans-Regular;
	font-size: 18px;
	padding-top: 20px;	
	padding-bottom: 20px;	
}
.nology a{
	color: #7E7E7E;
	text-decoration: none;	
}
.nology a:hover{
	color: #000000;
}
.article_image{
	width: 618px;
	height: 216px;		
	position: relative;
}
.article_image img{
	max-width: 618px;
	max-height: 216px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.n_right a{
	color: #9E9E9E;
	text-decoration: none;
}
.n_right a:hover{
	color: #000000;
}
.n_right{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;
}
.article_image_right{
	width: 55px;
	height: 58px;
	position: relative;
}
.article_image_right img{
	max-width: 55px;
	max-height: 58px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/*comments*/
#comments_div{
	font-family:  OpenSans-Regular;
	float:left;
	margin:20px 0px;
	width: 620px;
}
#comments_div form{
    color: #666;
    font-size: 13px;
    font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
#comments_div fieldset {
    border: 1px solid #666;
    margin-bottom: 10px;
    padding: 15px 12px;
}
#comments_div label{
	float:left;
	width: 90px;
}
.comments_form div{
	margin-top:5px;
	width: 100%;
}
#comments_div input {
	border:none;
	background:#e4e4e4;
	width:480px;
}
#comments_div textarea {
	border:none;
	width:480px;
	height:80px;
	background-color:#E4E4E4;
}	
#add_comment {	
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	cursor:pointer;
	float: right;
	width:110px;
	padding: 5px;
	border: #666666 solid 1px;
	background-color:#E4E4E4;
	text-align: center;
	margin-right: 5px;
	margin-top: 10px;
}
#commnetResult{
	font-size:13px;
	color:#C00003;
	float: left;
	font-weight:100;
}
#ajaxLoading{
	display:none;
	float: left;
	width: 80px;
	height:15px;
	background-image: url(../../img/front/tloading.gif);
	background-repeat: no-repeat;
}
#comments_div .count{
	font-size: 13px;
	color: #666;
	width:100%;
	height:20px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	background-color: #E4E4E4;
	text-align: center;
	padding: 5px 0px;	
}
#comments_div .comment{
	float:left;
	width:97%;
	margin: 5px 0px;
	border: 1px solid #666666;
	padding: 1.5%;
}
#comments_div .comment div{
	margin-bottom:2px;
}
#comments_div .com_logo{
	float: left;
	width:8%;
	width: 50px;
	margin-right: 5px;
}
#comments_div .com_title{
	font-size: 13px;
	font-weight: bold;
	color: #333;
	width:92%;
	height:26px;
	float:left;
	margin-top:10px;
}
#comments_div .com_name{
	font-size: 13px;
	font-weight: bold;
	color: #666;
}
#comments_div .com_date{
    font-size: 10px;
    color: #C00003;
    font-size: 13px;
}
#comments_div .com_body{
	font-size: 16px;
	color: #333;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
.tabs li:hover{
	background-color: #cecece;	
}
p{
	margin: 0px;
}
.pic_t{
}
.pic_t img{
	max-width: 137px;
}
.team_member_image img{
	max-width: 150px;
	max-height: 150px;
	border-radius:75px;
}
.board_members_left{
	float: left;
	width: 150px;
	margin-right: 20px;
}
.board_members_div{
	float: left;
	width: 100%;
	margin-top: 50px;
}
.team_member_all_div_two{
	margin-top: 0px;
}
.team_member_div_two{
	float: left;
	margin-right: 45px;
	width: 150px;
	margin-bottom: 10px;
	height: 230px;
}
.team_member_title_postion_div_two{
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.team_member_title_div_two{
	width: 100%;
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
}
.team_member_postion_div_two{
	width: 100%;
	text-align: center;	
	padding-left: 0px;
	cursor: pointer;
}
.team_member_div_two_special{
	margin-right: 0px;
}
.team_member_div_three, .team_member_div_three2{
	float: left;
	width: 100%;
	margin-top: 45px;
	margin-bottom: 15px;
	display: none;
}
.team_member_image_div_three{
	margin-top: 0px;
	width: 225px;
}
.team_member_image_div_three img{
	max-width: 225px;	
}
.team_member_mail_div_three{
	width: 100%;	
}
.team_member_left_div_three{
	float: left;
	width: 225px;
	margin-right: 30px;
}
.team_member_mail_inner_div_three{
	width: 190px;
}
.team_member_twitter_inner_div_three{
	width: 190px;	
	margin-top: 2px;
}
.team_member_right_div_three{
	float: left;
	width: 665px;
}
.team_member_postion_div_three{
	margin-top: 0px;
	margin-left: 0px;	
}
.team_member_body_div_three{
	margin-left: 0px;		
	margin-top: 10px;
}
.teamMemberanchor{
	cursor: pointer;
}
.team_member_current{
	display: block;
}
.team_member_twitter_image_div_three img{
	width: 24px;
}
.team_member_mail_inner_div_three a{
	color: #535353;
	text-decoration: none;	
}
.team_member_mail_inner_div_three a:hover{
	color: #000000;	
}
.team_member_twitter_inner_div_three a{
	color: #535353;
	text-decoration: none;	
}
.team_member_twitter_inner_div_three a:hover{
	color: #000000;	
}
.s_ri{
	border-bottom: 32.5px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #EE4640;
    border-top: 32.5px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    line-height: 0;
    width: 0;
}
.leftmenuchild ul li{
	width: 265px;
}
.leftmenuchild{
	width: 100%;
}
.nodeitem{
}
.currentnodeitem{
	background-color: #dfdfdf;
}
.nodeitemview{
	display: none;
}
.currentnodeitemview{
	display: block;
}
.nodeitemviewbody{
	float: left;
	color: #3A3A3A;
    font-family: OpenSans-Regular;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    margin-bottom: 20px;
}
.leftmenuchildcurent{
	display: block;	
}
.slider-wrapper {
	position:relative;
	width: 960px; 
	margin: 0 auto;
}
.maintenancelogo{
	margin-top:100px; 
	margin-bottom:25px; 
	text-align:center;
}
.maintenancetext{
	font-family: OpenSans-Regular;
	font-size: 18px;
	text-decoration:none;
	color:#404041;	
}
.menu_big{
	overflow: hidden;
}
.logo img{
	height: 77px;
}
.men_e{
	margin-top: 20px;
	color:red;
}
.men_a{
	margin-bottom: 15px;
}
.slider{
	margin-top: 15px;
}
.testimonial_image_home{
	margin-left: 10px;
	margin-top: 10px;
}
.facebook_fotter img{
	/*width: 40px;*/	
}
.top_grop{
	margin-bottom: 40px;
}
.facebook_fotter{
	width:240px;
	margin: 0 auto;
}
.fase{
	padding-left: 10px;
	padding-right: 10px;
}
.fase_frist{
	padding-left: 10px;
	padding-right: 10px;	
}
.top_see{
	font-size: 16px;
	font-family: OpenSans-Semibold;
	text-align: center;
	width: 100%;
}
.top_con{
	margin-top: 25px;
}
.top_con_3{
	font-size: 28px;
}
.mm_tt{
	font-size: 16px;
}
.nology{
	font-size: 14px;
}
.article_tags_div{
	margin-bottom:10px
}
.article_date_div{
	margin-top:10px
}
.top_wrie_b a{
	color: #404041;
	text-decoration: none;
}
.top_wrie_b a:hover{
	color: #000000;
}
.facebookcommentsdiv{
	float: left;
	width: 620px;
	margin: 20px 0;
}
.addthisdivleft{
	top:20%;
	position: fixed;
	left: 0px;
	width: 36px;
}
.required{
	border: 1px solid #EE4640;
}
.requiredspan{
	color: #EE4640;
}
.w_g_m{
	width: 110px;
}
.in_ut_s_2{
	width: 485px;
}
.bottom_page_image_client{
	width: 150px;
	height: 150px;
	margin: 0px;	
}
.bottom_page_image_client img{
	max-width:150px;
	max-height: 150px;
}
.bottom_page_image_client_div{
	float: left;
	width: 150px;
	height: 150px;	
	margin-left: 10px;
    margin-right: 10px;
}
.testimonials_home_left{
	float: left;
	/*border: 2px solid #d7d7d7;*/
	border: 2px solid #ffffff;
	/*height: 645px;*/
}
.articles_home_left{
	float: left;
	/*border: 2px solid #d7d7d7;*/	
	border: 2px solid #ffffff;
	/*height: 645px;*/
}
.article_header{	
    color: #404041;
    float: left;
    font-family: OpenSans-Light;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    /*width: 200px;*/
    width: 290px;
}
.article_home_image{
	/*margin-left: 10px;*/
}
.article_home_title{
	width: 290px;;	
}
.article_home{
	float: left;
	width: 100%;
	/*margin-top: 10px;*/
}
#team_member_div_line, #team_member_div_line2{
	width: 100%;
	height: 1px;
	float: left;
}
.team_member_name_hover{
	color: #ED4640;
}
.facebook_box_div{
	margin-top: 30px;
	float: left;
}
.testimonial_position_home{
	width: 500px;
	margin-left: 10px;
}
.testimonial_title_home{
	margin-left: 10px;
}
.article_home_image_creator_date{
	float: left;
	width:290px;
	margin-left: 10px;
}
.article_home_creator{
	margin-left: 10px;
	float: left;
	width:205px;
	padding: 0px;
	padding-top: 10px;
}
.article_home_date{
	margin-left: 10px;
	float: left;	
	width:205px;
	padding: 0px;
}
.article_right_inner{
	margin-top:60px;
}
.right_nology{
	margin-top: 10px;
}
.article_image_new img{
	max-width: 618px;
	width: 618px;
}
.article_image_new{
	/*background-color: #e2e2e2;*/
}
.team_member_mail_image_div_three img{
	width: 24px;
}
.team_member_image_two{
	filter: url(../filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.team_member_image_hover{
	filter: none;
	-webkit-filter: grayscale(0);	
	/*border: 2px solid #ED4640;
	width: 136px;*/	  
}
.article_home_image_new{
	overflow: hidden;
	padding:15px 0;
	height:45px;
	width:70px;
}
.article_home_image_new img{
	max-height:45px;
	float:left;	
}
.top{
	padding-left: 12px;
}
.headerlistiteminner{
	margin-top: 10px;
}
.headerlistitem{
	margin-top: 7px;
}
.ri_2{
	margin-right: 10px;
	width: 23px;
	overflow: hidden;
}
.imagetestimonialinner{
	width: 137px;	
  	position: relative;
  	height: 85px;
}
.imagetestimonialinner img{
	max-width: 137px;	
    display: block;
    left: 0;
    margin: auto;    
    max-width: 137px;
    position: absolute;
    right: 0;
    max-height: 85px;
}
.mesage-pop-bg {
	position:fixed;
	width:100%;
	top:0;
	z-index:101;
	left:0;
	height:100%;
	background:#33465F;
	opacity: 0.6;
}
#mesagecontent {
	position:fixed;
	width:460px;
	top:20%;
	left:50%;
	margin:0px 0 0 -230px;
	padding-bottom:10px;
	z-index:102;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #33465F 0px 0px 10px;
	-moz-box-shadow: #33465F 0px 0px 10px;
	box-shadow: #33465F 0px 0px 10px;
}
.mesage-pop {
	display:none;
}
#mesagecontent h4 {
	background:#ECF0F1;
	padding:11px 10px;
	color:#33465F;
	border-bottom:solid 1px #BDC3C7;
	text-transform:capitalize;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-family: 'Maven Pro',sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
}
#mesagecontent > div, #mesagecontent > form {
	margin:10px;
  border-top: 1px solid #ecf0f1;
    font-family: 'Maven Pro',sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
    padding-top: 10px;
}
.closealert {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.inner404{
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: OpenSans-Semibold;
}
h2.coaches_instructors{
	color: #ff5953;
    float: left;
    font-family: OpenSans-Semibold;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    width: 100%;
}